<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .red{
            background: red;
        }
    </style>
</head>
<body>
    <div id="app">
      
            名称：
            <input type="text" v-model="pName">
            价格：
            <input type="number" v-model="pMoney">
            <button @click='addNewList()'>增加</button>
            <input type="text" v-model="searchlist"><button @click='search'>查询</button>
            <div >
            <li   v-for='(list,index) in arr' @click.self='toogle(list)' :class="{red: list.isRed}">
                 <input type="checkbox" name="product" v-model="ifchecked"  :value="list.name">                
                 {{list.name}}  {{list.money}}                 
                 <button v-on:click='arr.splice(index, 1)'>X</button>
            </li>
            </div>
            <button @click='del(ifchecked,arr)'>勾选删除</button>
            勾选的下标：{{ifchecked}}
            总价：{{total}}


            
    </div>
    <script src="vue.js"></script>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                pName:'',
                pMoney:'',
                searchlist:'',
                arr:[
                
                ],
                ifchecked:[],
                arrindex: 0,
                Red:false,
                ischecked:false,
                

            },
            methods:{
                addNewList(){
		            this.arr.push({
                    name:this.pName,
                    money:this.pMoney,
                    index:this.arrindex++,
                    isRed:this.Red,//追加属性值
                      })
        },
                toogle(tet){
                    tet.isRed = !tet.isRed
                   /* if(tet.isRed==true){
                        this.sum =this.sum + parseInt(tet.money)
                    }else{
                        this.sum = this.sum - parseInt(tet.money)
                    }*/
                },
                del(arr,arr2){
                    /*let max = arr.length
                    for(var i=0;i<max;i++){
                        for(let k = 0;k<arr2.length;k++){
                            let j = arr2[k].name
                            console.log(arr2[k].name)
                            if(arr[i]==j){
                                arr2.splice(k, 1) 
                            }                        
                        }
                    }       
                    for(let j=0;j<max;j++){
                       arr.splice(0,1)
                    }*///麻烦，而且不能具有相同的名字，不够完善。
                },
                search(){
                    this.arr = this.arr.filter((elem,index)=>{
                        console.log(this.arr);
                        if(elem.name.includes(this.searchlist)){
                            return elem;
                        }
                    })
                    
            }
            },
            computed:{
                total(){
                    return this.arr.reduce((sum,elem) =>{
                        if(elem.isRed){
                            sum += parseInt(elem.money);
                        }
                        return sum;
                    },0)
                }
            }

        })
    </script>
</body>
</html>